In [4]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
from sklearn.preprocessing import LabelEncoder

In [77]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
df = pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

# Remove NULL and Negative values

In [72]:
df = df.dropna()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212.0,0,1,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203.0,1,0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174.0,0,1,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203.0,0,1,161.0,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294.0,1,1,106.0,0,1.9,1,3.0,2.0,0

In [44]:
df = df.replace("?", pd.NA)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [45]:
df = df[df >= 0]
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

# Outlier Detection and Remove

## Detection

In [46]:
df.std()

age          9.072290
sex          0.460373
cp           1.029641
trestbps    17.516718
chol        51.592510
fbs          0.356527
restecg      0.527878
thalach     23.005724
exang        0.472772
oldpeak      1.175053
slope        0.617755
ca           1.030798
thal         0.620660
target       0.500070
dtype: float64

In [47]:
df.mean()

age          54.434146
sex           0.695610
cp            0.942439
trestbps    131.611707
chol        246.000000
fbs           0.149268
restecg       0.529756
thalach     149.114146
exang         0.336585
oldpeak       1.071512
slope         1.385366
ca            0.754146
thal          2.323902
target        0.513171
dtype: float64

In [48]:
out = np.abs((df - df.mean()) / df.std())
out

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.268306,0.661181,0.915309,0.377451,0.659010,0.418674,0.890820,0.820920,0.711940,0.060859,0.994948,1.208631,1.089320,1.026197
1,0.158080,0.661181,0.915309,0.478874,0.833454,2.386166,1.003559,0.255843,1.403243,1.726294,2.242580,0.731614,1.089320,1.026197
2,1.715758,0.661181,0.915309,0.764315,1.395551,0.418674,0.890820,1.048180,1.403243,1.300782,2.242580,0.731614,1.089320,1.026197
3,0.723726,0.661181,0.915309,0.935580,0.833454,0.418674,0.890820,0.516648,0.711940,0.911884,0.994948,0.238508,1.089320,1.026197
4,0.833952,1.510969,0.915309,0.364697,0.930368,2.386166,0.890820,1.874062,0.711940,0.705064,0.623816,2.178753,0.521868,1.026197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.503275,0.661181,0.055904,0.478874,0.484566,0.418674,0.890820,0.647050,1.403243,0.911884,0.994948,0.731614,0.521868,0.973521
1021,0.613500,0.661181,0.915309,0.377451,0.232592,0.418674,1.003559,0.352701,1.403243,1.470987,0.623816,0.238508,1.089320,1.026197
1022,0.819434,0.661181,0.915309,1.233776,0.562097,0.418674,1.003559,1.352452,1.403243,0.060859,0.623816,0.238508,0.521868,1.026197
1023,0.488757,1.510969,0.915309,1.233776,0.155061,0.418674,1.003559,0.429713,0.711940,0.911884,0.994948,0.731614,0.521868,0.973521
1024,0.047854,0.661181,0.915309,0.662893,1.124194,0.418674,0.890820,1.569790,0.711940,0.279551,0.623816,0.238508,1.089320,1.026197

In [49]:
lier = out > 3
lier.sum()

age          0
sex          0
cp           0
trestbps     7
chol        13
fbs          0
restecg      0
thalach      4
exang        0
oldpeak      7
slope        0
ca          18
thal         7
target       0
dtype: int64

## removing

In [52]:
# df[~lier.any(axis=1)]

In [53]:
df = df[~lier]
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212.0,0,1,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203.0,1,0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174.0,0,1,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203.0,0,1,161.0,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294.0,1,1,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221.0,0,1,164.0,1,0.0,2,0.0,2.0,1
1021,60,1,0,125.0,258.0,0,0,141.0,1,2.8,1,1.0,3.0,0
1022,47,1,0,110.0,275.0,0,0,118.0,1,1.0,1,1.0,2.0,0
1023,50,0,0,110.0,254.0,0,0,159.0,0,0.0,2,0.0,2.0,1
1024,54,1,0,120.0,188.0,0,1,113.0,0,1.4,1,1.0,3.0,0

# Transformation

In [57]:
df.loc[df['sex']==1,'sex']='M'
df.loc[df['sex']==0,'sex']='F'
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,M,0,125.0,212.0,0,1,168.0,0,1.0,2,2.0,3.0,0
1,53,M,0,140.0,203.0,1,0,155.0,1,3.1,0,0.0,3.0,0
2,70,M,0,145.0,174.0,0,1,125.0,1,2.6,0,0.0,3.0,0
3,61,M,0,148.0,203.0,0,1,161.0,0,0.0,2,1.0,3.0,0
4,62,F,0,138.0,294.0,1,1,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,M,1,140.0,221.0,0,1,164.0,1,0.0,2,0.0,2.0,1
1021,60,M,0,125.0,258.0,0,0,141.0,1,2.8,1,1.0,3.0,0
1022,47,M,0,110.0,275.0,0,0,118.0,1,1.0,1,1.0,2.0,0
1023,50,F,0,110.0,254.0,0,0,159.0,0,0.0,2,0.0,2.0,1
1024,54,M,0,120.0,188.0,0,1,113.0,0,1.4,1,1.0,3.0,0

In [58]:
lbl = LabelEncoder()
lbl

LabelEncoder()

In [59]:
df['sex'] = lbl.fit_transform(df['sex'])
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212.0,0,1,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203.0,1,0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174.0,0,1,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203.0,0,1,161.0,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294.0,1,1,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221.0,0,1,164.0,1,0.0,2,0.0,2.0,1
1021,60,1,0,125.0,258.0,0,0,141.0,1,2.8,1,1.0,3.0,0
1022,47,1,0,110.0,275.0,0,0,118.0,1,1.0,1,1.0,2.0,0
1023,50,0,0,110.0,254.0,0,0,159.0,0,0.0,2,0.0,2.0,1
1024,54,1,0,120.0,188.0,0,1,113.0,0,1.4,1,1.0,3.0,0

# Build data model using regression and knn

**creating input and result**

In [73]:
x=df.drop('target', axis=1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125.0,212.0,0,1,168.0,0,1.0,2,2.0,3.0
1,53,1,0,140.0,203.0,1,0,155.0,1,3.1,0,0.0,3.0
2,70,1,0,145.0,174.0,0,1,125.0,1,2.6,0,0.0,3.0
3,61,1,0,148.0,203.0,0,1,161.0,0,0.0,2,1.0,3.0
4,62,0,0,138.0,294.0,1,1,106.0,0,1.9,1,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221.0,0,1,164.0,1,0.0,2,0.0,2.0
1021,60,1,0,125.0,258.0,0,0,141.0,1,2.8,1,1.0,3.0
1022,47,1,0,110.0,275.0,0,0,118.0,1,1.0,1,1.0,2.0
1023,50,0,0,110.0,254.0,0,0,159.0,0,0.0,2,0.0,2.0
1024,54,1,0,120.0,188.0,0,1,113.0,0,1.4,1,1.0,3.0

In [74]:
y=df['target']
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 969, dtype: int64

**create train and test datasets**

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=5)

## LogisticRegression

In [78]:
lr = LogisticRegression()
lr.fit(x_train, y_train)

LogisticRegression()

In [82]:
r1 = lr.predict(x_test)
r1

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1])

In [83]:
r1Acc = accuracy_score(y_test, r1)
r1Acc

0.831275720164609

# KNN

In [85]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [88]:
r2 = knn.predict(x_test)
r2

array([1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       0])

In [89]:
r2Acc = accuracy_score(y_test, r2)