In [5]:
import pandas as pd

In [8]:
DataFrame=pd.read_csv('hepatitis.csv')
DataFrame.columns = ["Class","AGE","SEX","STEROID","ANTIVIRALS","FATIGUE","MALAISE","ANOREXIA","LIVER BIG","LIVER FIRM","SPLEEN PALPABLE","SPIDERS","ASCITES","VARICES","BILIRUBIN","ALK PHOSPHATE","SGOT","ALBUMIN","PROTIME","HISTOLOGY"]
DataFrame.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [10]:
DataFrame['SEX'].unique()

array([1, 2])

In [14]:
SEX1=DataFrame[DataFrame['SEX']==1]
SEX1.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [15]:
SEX2=DataFrame[DataFrame['SEX']==2]
SEX2.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
23,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
26,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
31,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
32,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1

# Merge

In [16]:
Merged1=pd.concat([SEX1,SEX2])
Merged1.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

# Sort

In [17]:
Sorted=DataFrame.sort_values('AGE')
Sorted.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
109,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
120,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
147,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
36,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
100,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2

In [18]:
Sorted=DataFrame.sort_values('SGOT')
Sorted.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
73,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1
130,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
44,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
143,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
89,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2

In [19]:
Sorted=DataFrame.sort_values('PROTIME')
Sorted.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
129,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
37,2,42,1,1,2,2,2,2,2,2,2,2,2,2,1.00,85,14,4.0,100,1
52,2,40,1,2,1,1,2,2,2,1,1,2,2,2,1.20,85,31,4.0,100,1
95,2,30,1,1,2,1,1,2,2,1,2,1,2,2,0.80,147,128,3.9,100,2
59,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1

# Transpose

In [16]:
Transposed=DataFrame.T
Transposed

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
AGE,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
SEX,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
STEROID,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
ANTIVIRALS,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FATIGUE,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
MALAISE,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
ANOREXIA,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
LIVER BIG,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
LIVER FIRM,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
SPLEEN PALPABLE,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
SPIDERS,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
ASCITES,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
VARICES,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
BILIRUBIN,1,0.9,0.7,0.7,1,0.9,?,1,0.7,1,...,1.2,4.2,1.7,0.9,0.6,7.6,0.9,0.8,1.5,1.2
ALK PHOSPHATE,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
SGOT,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
ALBUMIN,4,3.5,4,4,4,4,?,?,4.4,3.9,...,4.2,3.4,2.8,4,4,3.3,4.3,4.1,4.1,3.1
PROTIME,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
HISTOLOGY,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

# Melt

In [20]:
Melting=pd.melt(DataFrame,id_vars=['Class','AGE'],value_name='value',var_name='Metrics')
Melting.head()

   Class  AGE Metrics value
0      2   50     SEX     1
1      2   78     SEX     1
2      2   31     SEX     1
3      2   34     SEX     1
4      2   34     SEX     1

# Casting

In [21]:
Casting=pd.pivot_table(DataFrame,index=['Class','AGE'],values='HISTOLOGY')
Casting.head()

           HISTOLOGY
Class AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0

# End